
.main-contaier {
    padding: 15px;
}

.task-list-container {
    padding: 10px;
    height: 40vh;
    overflow-y: auto;

}

.addTaskButton {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: transform 0.5s ease-in-out;
    margin-top:15px;
    background-color: #0db6e0;
    color: white;
    box-shadow: 2px 4px 1px 0px #298ba3;


}
.addTaskButton:hover {
    transform: scale(1.2);
}
input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: #e3e1dc;
    border: 1px solid green;


}

@media screen and (max-width:767px) {
    input {
        width: 55%;
    }
    
}